<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ai.mapper.ChatMessageMapper">
    
    <resultMap type="ChatMessage" id="ChatMessageResult">
        <result property="messageId"    column="message_id"    />
        <result property="senderId"     column="sender_id"     />
        <result property="receiverId"   column="receiver_id"   />
        <result property="content"      column="content"       />
        <result property="msgType"      column="msg_type"      />
        <result property="isRead"       column="is_read"       />
        <result property="delFlag"      column="del_flag"      />
        <result property="createBy"     column="create_by"     />
        <result property="createTime"   column="create_time"   />
        <result property="updateBy"     column="update_by"     />
        <result property="updateTime"   column="update_time"   />
        <result property="remark"       column="remark"        />
    </resultMap>

    <sql id="selectChatMessageVo">
        select message_id, sender_id, receiver_id, content, msg_type, is_read, del_flag, create_by, create_time, update_by, update_time, remark from sys_chat_message
    </sql>

    <select id="selectChatMessageList" parameterType="ChatMessage" resultMap="ChatMessageResult">
        <include refid="selectChatMessageVo"/>
        <where>  
            <if test="senderId != null "> and sender_id = #{senderId}</if>
            <if test="receiverId != null "> and receiver_id = #{receiverId}</if>
            <if test="content != null  and content != ''"> and content like concat('%', #{content}, '%')</if>
            <if test="msgType != null  and msgType != ''"> and msg_type = #{msgType}</if>
            <if test="isRead != null  and isRead != ''"> and is_read = #{isRead}</if>
        </where>
        order by create_time asc
    </select>
    
    <select id="selectChatMessageByMessageId" parameterType="Long" resultMap="ChatMessageResult">
        <include refid="selectChatMessageVo"/>
        where message_id = #{messageId}
    </select>

    <select id="selectChatHistory" resultMap="ChatMessageResult">
        <include refid="selectChatMessageVo"/>
        where (sender_id = #{param1} and receiver_id = #{param2})
           or (sender_id = #{param2} and receiver_id = #{param1})
        order by create_time asc
    </select>
        
    <insert id="insertChatMessage" parameterType="ChatMessage" useGeneratedKeys="true" keyProperty="messageId">
        insert into sys_chat_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="senderId != null">sender_id,</if>
            <if test="receiverId != null">receiver_id,</if>
            <if test="content != null">content,</if>
            <if test="msgType != null">msg_type,</if>
            <if test="isRead != null">is_read,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="senderId != null">#{senderId},</if>
            <if test="receiverId != null">#{receiverId},</if>
            <if test="content != null">#{content},</if>
            <if test="msgType != null">#{msgType},</if>
            <if test="isRead != null">#{isRead},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateChatMessage" parameterType="ChatMessage">
        update sys_chat_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="senderId != null">sender_id = #{senderId},</if>
            <if test="receiverId != null">receiver_id = #{receiverId},</if>
            <if test="content != null">content = #{content},</if>
            <if test="msgType != null">msg_type = #{msgType},</if>
            <if test="isRead != null">is_read = #{isRead},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where message_id = #{messageId}
    </update>

    <delete id="deleteChatMessageByMessageId" parameterType="Long">
        delete from sys_chat_message where message_id = #{messageId}
    </delete>

    <delete id="deleteChatMessageByMessageIds" parameterType="String">
        delete from sys_chat_message where message_id in 
        <foreach item="messageId" collection="array" open="(" separator="," close=")">
            #{messageId}
        </foreach>
    </delete>
</mapper>
